{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container"
    <main class="px-3">
    <h1>Мы площадка по продаже угля</h1>
    <p class="lead">предлагаем широкий ассортимент каменного угля, в том числе и угля из Разреза Изыхский Белый Яр.
        Мы гарантируем высокое качество продукции и конкурентоспособные цены.
        Наша компания имеет многолетний опыт работы на рынке угля и мы готовы предложить нашим клиентам индивидуальный подход и
        профессиональную консультацию по выбору наиболее подходящего вида угля для их нужд.
        Мы стремимся к тому, чтобы наши клиенты получали только лучший сервис и удовлетворение от сотрудничества с нами</p>

  </main>
</div>
{% endblock %}